@font-face {
    font-family: "Montserrat";
    src: url(../Assets/fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{

    /* Cores de Fundo */
    --background-primary-color: #FFFFFF;
    --background-secundary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    /* Cores dos botões */
    --botton-primary-color: #B81515;
    --botton-secundary-color: #8F0101;

    /* Cores de texto */
    --text-primary-color:#222222;
    --text-secundary-color: #FFFFFF;

    /* Tamanho de letra */
    --title_weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    color: var(--text-primary-color);
}

.section_tittle h2{
    font-size: 28px;
    font-weight: var(--title_weight);
    margin: 0;
    text-align: center;
}

.section_tittle hr{
    height: 4px;
    width: 180px;
    background-color: var(--botton-primary-color);
    border: none;
    margin: 16px auto 32px;
}


@media screen and (min-width:768px){

.section_tittle h2{
    font-size: 32px;
}

}