header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 24px;
    position: relative;
}

.img_logo_mobile{
    display: block;
}

.img_logo_desktop{
    display: none;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation_menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav{
    display: none;
}

.list_links{
    list-style: none;
}

.list_links li{
    margin: 16px;
}

.list_links li a{
    color: var(--text-secundary-color);
    text-decoration: none;
    font-size: 24px;
}

@media screen and (min-width:768px) {
 .navigation_menu{
    margin-top: 0%;
    width: 480px;
 }

 .navigation_menu label{
    display: none;
 }
 .navigation_menu nav{
    display: block;
 }

 .navigation_menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
 }

}

@media screen and (min-width:1024px){
    
    header{
        padding: 37px 120px;
    }

    .logo{
        width: 260px;
        height: 64px;
    }
    
    .img_logo_desktop{
        display: block;
    }

    .img_logo_mobile{
        display: none;
    }

    .navigation_menu a:hover{
        color: var(--botton-secundary-color);
    }
}

@media screen and (min-width:1920px){

    header{
        padding: 37px 165px;
    }
}