header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 24px;
}

.logo{
    width: 68px;
    height: 64px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}

nav{
    display: none;
}