header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 38px 24px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navegation_menu{
    margin-top: 24px;
}
nav{
    display: none;
}