header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 24px;
    position: relative;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation_menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav{
    display: none;
}

.list_links{
    list-style: none;
}

.list_links li{
    margin: 16px;
}

.list_links li a{
    color: var(--text-secundary-color);
    text-decoration: none;
}