.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}
.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}
.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* PACOTES DE VIAGENS */

.travel-package .hero-img{
  background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
  background-size: cover;
}

.travel-package .hero-content{
  padding: 65px 24px;
  color: var(--background-primary-color);
}

.travel-package .hero-content h1{
  font-size: 48px;
}

.travel-package .hero-content hr{
  margin: 16px 0 32px 0;
}

.travel-package .hero-content p{
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
  /* PACOTES DE VIAGENS */

  .travel-package .hero-img{
    background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .travel-package .hero-content{
    padding: 158px 95px;
    color: var(--background-primary-color);
  }

  .travel-package .hero-content p{
    font-size: 32px;
    font-weight: var(--text-weight);
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bg-bottom-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
  /* PACOTES DE VIAGENS */

  .travel-package .hero-img{
    background: url(../img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .travel-package .hero-content{
    padding: 158px 120px;
    color: var(--background-primary-color);
    text-align: left;
    width: 580px;
  }

  .travel-package .hero-content p{
    font-size: 32px;
  }

}

@media screen and (min-width: 1440px) {
  .travel-packages .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
