.img_hero{
    height: 400px;
    width: 100%;
    background: url(../Assets/img/img_hero_mobile.jpg) no-repeat;
    background-size: cover;
}

.hero h2{
    padding: 88px 24px;
    margin: 0px;
    font-weight: var(--text-weight);
    color: var(--text-primary-color);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width:728px){
    .img_hero{
        height: 620px;
        width: 100%;
        background: url(../Assets/img/img_hero_tablet.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2{
        padding: 88px 60px;
        font-size: 32px;
    }
}

@media screen and (min-width:1024px){
    .img_hero{
        height: 620px;
        width: 100%;
        background: url(../Assets/img/img_hero_desktop.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2{
        padding: 104px 120px;
        font-size: 32px;
    }
}

@media screen and (min-width:1920px){
    .hero h2{
        padding: 104px 168px;
    }
}
