.img_hero{
    height: 400px;
    width: 100%;
    background: url(../Assets/img/img_hero_mobile.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width:728px){
    .img_hero{
        height: 620px;
        width: 100%;
        background: url(../Assets/img/img_hero_tablet.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width:1024px){
    .img_hero{
        height: 620px;
        width: 100%;
        background: url(../Assets/img/img_hero_desktop.jpg) no-repeat;
        background-size: cover;
    }
}