.payments .image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    width: 100%;
    margin-top: 24px;
}

.bag{
    background: url(../img/gallery1-mobile.png) no-repeat;
    background-size: cover;
}

.passport{
    background: url(../img/gallery2-mobile.png) no-repeat;
    background-size: cover;
}

.people{
    background: url(../img/gallery3-mobile.png) no-repeat;
    background-size: cover;
    grid-column: span 2;
}

@media screen and (min-width: 768px) {

    .text-content {
        margin-top: 24px;
    }
    
    .image-gallery{
        height: 648px
    }

    .bag{
        background: url(../img/gallery1-tablet.png) no-repeat;
        background-size: cover;
    }

    .passport{
        background: url(../img/gallery2-tablet.png) no-repeat;
        background-size: cover;
    }

    .people{
        background: url(../img/gallery3-tablet.png) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px){
    .payments .content-container{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .payments .image-gallery{
        height: 460px;
        margin-top: 0%;
        margin-top: 24px;
    }

    .text-content{
        margin-top: 24px;
    }
}