.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    margin-top: 24px;
}

.bag{
    background: url(../img/gallery1-mobile.png) no-repeat;
    width: 100%;
    background-size: cover;
}

.passport{
    background: url(../img/gallery2-mobile.png) no-repeat;
    width: 100%;
    background-size: cover;
}

.people{
    background: url(../img/gallery3-mobile.png) no-repeat;
    width: 100%;
    background-size: cover;
    grid-column: span 2;
}