.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonial-content header p{
    font-size: 16px;
    line-height: 28px;
}

.testimonial-content img{
    width: 86px;
    height: 86px;
}

.testimonial-content footer{
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.testimonial-content footer .profile-content h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0;
}


.testimonial-content footer .profile-content .rating .star{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}

@media screen and (min-width: 1024px){
    .testimonial-content{
        flex-direction: row;
    }

    .testimonial-content header p{
        font-size: 14px;
    }

    .testimonial-content footer .profile-content h4{
        font-size: 16px;
        line-height: 48px;
    }

    .testimonial-content footer .profile-content .rating .star{
        font-size: 24px;
        Line-height: 1px;
    }
}

@media screen and (min-width: 1440px){
    .testimonial-content header p{
        font-size: 16px;
    }

    .testimonial-content footer .profile-content h4{
        font-size: 20px;
        line-height: 32px;
    }

    .testimonial-content footer .profile-content .rating .star{
        font-size: 32px;
        line-height: 32px;
    }
}